<div class="container">
  <div class="row mt-5">
    <div class="col-md-3">

    </div>

    <div class="col-md-5">
      <div class="mb-4">
        <h4>
          Reset Password
        </h4>
      </div>
      <div>
        <form #resetPassword="ngForm" (ngSubmit)="resetpassword(resetPassword)">
          <div class="form-group">
            <!-- <label for="email" class="text-danger">{{message}}</label> -->
            <input type="password" name="newPwd" class="form-control" [(ngModel)]="newPwd" placeholder="Enter your new password" required>
          </div>
          <div class="text-danger"> 
            {{message}}
          </div>
          <div class="form-froup">
            <input type="password" name="confirmPwd" class="form-control" [(ngModel)]="confirmPwd" placeholder="Conform new password">
          </div>
          <div class="mt-3">
            <input type="submit" value="Submit" class="btn btn-primary float-md-right px-3" [disabled]="!resetPassword.form.valid">
          </div>
        </form>
      </div>
    </div>

    <div class="col-md-4">

    </div>
  </div>
</div>