<!-- <div class="p-2 bg-dark shadow wd-100" >
    <div class="row">
        <div class="ml-3 col-md-1 text-white navbar-brand font-weight-bold font-italic">
           <h2>Aedu</h2> 
        </div>
        <div class="col-md-1"> -->
            <!-- <span class="fa fa-bars fa-lg text-white mt-3 ml-2"></span> -->
        <!-- </div>
        <div class="col-md-2 mt-2">
            <input type="text" name="search" class="form-control-sm bg-dark border-0 shadow-none  text-white" placeholder="Search for...">
        </div>
    </div>
</div> -->

<!-- <nav class="nav-bar nav-bar-expand-lg navbar-dark bg-dark">
    <div>
        <h3><a class="nav-link text-white font-italic navbar-brand">Aedu</a></h3>
    </div>

</nav> -->


<div class="container-fluid bg-dark shadow px-3 py-1">
    <div class="row">
        
        <div class="col-md-1 col-sm-2 col-xs-3 text-white font-weight-bold font-italic">
            <h3><a class="nav-link text-white" routerLink="/home">Aedu</a></h3>
        </div>
        
        <div class="col-md-1 col-sm-2 col-xs-2">
            <h5><span class="fa fa-bars fa-lg text-white mt-3 px-2 ml-3"></span></h5>
        </div>

        <div class="col-md-2 col-sm-3 mt-2 col-xs-0">
            <!-- <div class="input-group">
                <div class="input-group-prepend">
                    <span class="fa fa-search pt-2 pr-3 text-white"></span>
                </div>
                <input type="text" class="form-control" placeholder="Username">
            </div> -->
            <div class="input-group">
                    <div class="input-group-prepend">
                       <span class="fa fa-search text-white pt-2 pr-2"></span>
                    </div>
                 <input type="text" name="search" class="form-control bg-dark border-0 text-white search font-weight-light" placeholder="Search for...">
            </div>
        </div>

        <div class="col-md-4 col-sm-0 col-xs-0">
            
        </div>
        
        <div class="col-md-3 col-sm-4 mt-3 text-white">
            <span class="ml-3 pl-2">Welcome <span class="pl-2">{{userData.teacher_name}} </span></span>
        </div>
        
        <div class="col-md-1 col-sm-1 col-xs-3">
            <span routerLink="/logout" class="fa fa-sign-out fa-2x text-white p-1 mt-2 ml-3" data-toggle="tooltip" data-placement="right" title="Logout"></span>
        </div>
    </div>
</div>
